/tests export-ignore
CHANGELOG.md export-ignore
README.md export-ignore
README-ES.md export-ignore
phpcs.ruleset.xml export-ignore
phpunit.xml.dist export-ignore
phpmd.xml export-ignore
.travis.yml export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.php_cs.dist export-ignore
CONDUCT.md export-ignore